body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #8EACCD;
}

.stopwatch {
    text-align: center;
    background-color: #D2E0FB;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.controls button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

.controls button:hover {
    background-color: #0056b3;
}

/* Lap container section */
.lap-container {
    margin-left: 50px; /* Space left for stopwatch */
    padding: 30px;
    background-color: #C4D7FF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 40%; /* Make sure it doesn't overflow */
    overflow-y: auto; /* Enable scrolling for lap records */
    width:max-content; /* Width for lap container */
}

#laps {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#laps li {
    font-size: 16px;
    margin: 5px 0;
    background-color: #a6c1df;
    padding: 5px;
    border-radius: 4px;
}


#laps li:hover {
    transform: scale(1.2); 
    background-color: #a9bbce; 
}
